@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/* Главная страница */

html {
  height: 100%;
}

.page_container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #FFFFFF;
  color: #000000;
}

.navigation {
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
}

.navigtion-link-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-icon:hover {
  fill: #756257;
}

 /* так и не понял, как сделать фокус, иконки не поддаются, а где текст пробовал через паддинги - не то,
 а если задавать размеры то ломается верстка, покажите пожалуйста как его таки сделать?*/

.navigation-icon:focus-visible {
  box-shadow:  0 0 0 4px #68A2CA;
  outline: none;
  border-radius: 4px;
}

.navigation-icon:active {
  opacity: 0.3;
}

.navigation-list {
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

/*  похожая ситуация, выставляю размеры и у меня линия снизу, под ширину блока стает и ломается блок */

.navigtion-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  margin-right: 23px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigtion-link-round {
  position: relative;
  z-index: 5;
  margin-right: 33px;
}

.round-green {
  position: absolute;
  top: -2px;
  right: -4px;
  width: 19px;
  height: 19px;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #7DB550;
  z-index: 10;
}

.navigtion-link:hover {
  color: #756257;
}

.navigtion-link:focus-visible {
  box-shadow: inset 0 0 0 4px #68A2CA;
  outline: none;
  border-radius: 10px;
}

.navigtion-link:active {
  opacity: 0.3;
}

.navigtion-link-current::after {
  position: absolute;
  right: 0;
  top: 49px;
  left: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.header-logo {
  margin-bottom: -10px;
}

.navigation-user {
  width: 400px;
  justify-content: flex-end;
}

.navigtion-link-icon:focus-visible {
  box-shadow: inset 0 0 0 4px #68A2CA;
  outline: none;
  border-radius: 10px;
}

.navigation-user-button {
  display: inline-block;
  width: 160px;
  margin-right: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}

.navigation-user-button:hover {
  background-color: #615048;
  color: #FFFFFF;
}

.navigation-user-button:focus-visible {
  box-shadow: inset 0 0 0 4px #68A2CA;
  outline: none;
  border-radius: 5px;
}

.navigation-user-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 46px;
}

.logo-image {
  height: 485px;
  background-image: url("../images/index-divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  margin-bottom: 63px;
  background-position: bottom;
}

.index-description {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.index-description-title{
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.index-description-info {
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  color: #333333;
  background-color: #FFFFFF;
  margin-bottom: 79px;
}

/* Заинтересовались? */



.interested {
  text-align: center;
  background-color: #FFFFFF;
}

.intrested-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
}

.intrested-info {
  margin-top: 0;
  margin-bottom: 73px;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}

.intrested-link {
  display: block;
  max-width: 575px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 91px;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 10px;
  text-decoration: none;
}

.intrested-link:hover {
  background-color: #615048;
}

.intrested-link:focus-visible {
  box-shadow:  0 0 0 4px #68A2CA;
  outline: none;
}



.intrested-link:active {
  color: rgba(255, 255, 255, 0.3);
  border: 0;
}

/* Подпишитесь на рассылку */

.subscribe {
  padding-top: 94px;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../images/background-interested.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-catalog {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.subscribe-title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-info {
  padding-bottom: 26px;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: normal;
}

.subscribe-title-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-form {
  padding-bottom: 94px;
}

.subscribe-info-catalog {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  padding: 17px 23px;
  background-color: #83B3D3;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus-visible {
  box-shadow:  0 0 0 3px #756257;
  outline: none;
}


.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}


/* Футер */

.page-footer {
  display: flex;
  padding: 0 72px;
  min-height: 120px;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  color: #000000;

}

.footer-social {
  width: 170px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.footer-icon {
  fill: #83B3D3;
}

.footer-icon:hover {
  fill: #68A2CA;
}

.footer-icon:active {
  opacity: 0.3;
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 16px;
  margin-right: 30px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-icon {
  fill: #83B3D3;
}

.footer-icon:hover {
  fill: #68A2CA;
}

.footer-social-link:focus-visible {
  box-shadow:  0 0 0 4px #68A2CA;
  outline: none;
  border-radius: 4px;
}

.footer-icon:active {
  opacity: 0.3;
}

.footer-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 50px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-tel:hover {
  color: #756257;
}

.footer-tel:focus-visible {
  box-shadow:  0 0 0 3px #68A2CA;
  outline: none;
  border-radius: 4px;
}

.footer-tel:active {
  opacity: 0.3;
}

.footer-academy {
  width: 115px;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 54px;
}

.about-text:hover {
  color: #756257;
}

.about-text:focus-visible {
  box-shadow:  0 0 0 3px #68A2CA;
  outline: none;
  border-radius: 4px;
}

.about-text:active {
  opacity: 0.3;
}

.footer-social-link {
  position: relative;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


/* Секция преимуществ */

.advantages {
  margin-bottom: 91px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.advantages-photo {
  display: block;
}

.advantages-item-image {
  width: 800px;
  min-height: 384px;
}

.advanteges-item {
  display: flex;
  flex-wrap: wrap;
}



.advantages-icon-home {
  background-image: url("../images/advantages-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-icon-food {
  background-image: url("../images/advantages-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-icon-box {
  background-image: url("../images/advantages-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-title {
  margin-top: 98px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 184px;

}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 26px;
}

.advanteges-item-user {
  width: 400px;
  min-height: 384px;
}

.advantages-list-bg-blue {
  background-color: #83B3D3;
}

.advanteges-item-bg {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-list-user {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

.advantages-list-user li:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  min-height: 73px;
  width: 250px;
  margin: auto;
}

.advantages-list-user .advantages-description {
  color: #333333;
  min-height: 73px;
  width: 250px;
  margin: auto;
}

.advantages-light-bg-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-lighter-bg-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Страница каталога */

.catalog-container-bg {
  padding-top: 35px;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 82px;
}

.catalog-filter {
  display: flex;
  margin: 0  auto;
  justify-content: space-between;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 13px;
}

.catalog-button {
  display: block;
  padding: 0;
  width: 160px;
  height: 48px;
  font-weight: bold;
  background: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.catalog-button:hover {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.catalog-button:focus-visible {
  box-shadow: 0 0 0 3px #FFFFFF;
  outline: none;
  border-radius: 4px;
}

.catalog-button:active {
  opacity: 0.6;
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-buttons {
  text-align: center;
}


.catalog-button-reset {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  background: none;
  border: none;
  color: #FFFFFF;
  padding: 2px 5px;
}

.catalog-button-reset:hover {
  opacity: 0.6;
}

.catalog-button-reset:focus-visible {
  box-shadow: 0 0 0 3px #68A2CA;
  outline: none;
  border-radius: 4px;
}

.catalog-button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.control-input {
  margin-right: 19px;
  margin-left: 0;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
  color: #FFFFFF;
}

.breadcrumbs {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 45px;
  padding: 0;
}

.breadcrumbs-icon-arrow {
  color: #FFFFFF;
  transform: rotate(-90deg) scale(0.7);
  opacity: 0.6;
}

.breadcrumbs-icon-arrow:hover {
  opacity: 0;
}

.breadcrumbs-user .breadcrumbs-link {
  display: flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 2px 5px;
}

.breadcrumbs-icon {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  box-shadow:  0 0 0 3px #68A2CA;
  outline: none;
  border-radius: 3px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.search-hotels {
  width: 370px;
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

/*  sorting  */

.sorting-container {
  padding: 0 72px;
  min-height: 48px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 42px;
  color: #000000;
  background-color: #FFFFFF;

}

.sorting-user-container {
  width: 160px;
  display: flex;
}

.sorting-type {
  margin-left: auto;
  margin-right: 81px;
}

.sorting-user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-button {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}


/*  product-list  */

.product-list-container {
  padding-left: 72px;
  padding-right: 72px;
  margin-bottom: 61px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-card-wrapper {
  padding: 0 37px;
}

.product-card {
  display: grid;
  grid-template-columns: 180px 1fr 160px;
  margin-bottom: 61px;
}

.product-image-wrapper {
  display: block;
}

.product-card-image {
  width: 180px;
  min-height: 120px;
}

.product-image-wrapper:hover {
  opacity: 0.6;
}

.product-image-wrapper:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.product-image-wrapper:active {
  opacity: 0.3;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  color: #000000;
  background-color: #FFFFFF;
}

.product-card-link {
  display: flex;
  max-width: 220px;
  justify-content: flex-start;
  align-items: center;
}

.product-card-title:hover {
  color: #756257;
}

/* подскажите как сделать фокус, чтоб разметку не ломать,
 не выходит текс по средине установить чтоб оно ровно все осталось */

.product-card-link:focus-visible {
  box-shadow:  0 0 0 3px #68A2CA;
  outline: none;
  border-radius: 3px;
}

.product-card-link:active {
  opacity: 0.3;
}

.product-card-item {
  margin: 0;
  margin-right: 78px;
}

.card-button-container {
  margin-top: 31px;
}

  /*  не совсем понятно надо ли заголовок h3 оборачивать в тег а..  */
.product-card-link {
  text-decoration: none;
}

.product-card-button-brown {
  display: inline-block;
  text-align: center;
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 0;
}

.product-card-button-brown:hover {
  background-color: #615048;
  color: #ffffff;
}

.product-card-button-brown:focus-visible {
  box-shadow:  0 0 0 3px #68A2CA;
  outline: none;
  border-radius: 4px;
}

.product-card-button-brown:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-blue {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 5px 0;
  cursor: pointer;
}

.product-card-button-blue:hover {
  background-color: #68A2CA;
  color: #FFFFFF;
  box-shadow:  0 0 0 1px #756257;
}

.product-card-button-blue:focus-visible {
  box-shadow:  0 0 0 4px #756257;
  outline: none;
  border-radius: 4px;
}

.product-card-button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow:  0 0 0 1px #756257;
}

.product-card-button-green {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 5px 0;
  cursor: pointer;
}

.product-card-button-green:hover {
  background-color: #6C9E42;
  color: #FFFFFF;
}

.product-card-button-green:focus-visible {
  box-shadow:  0 0 0 4px #756257;
  outline: none;
  border-radius: 4px;
}

.product-card-button-green:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Блок с рейтингом, звездочки */

.product-card-rating {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  background-color: #F2F2F2;
}

.stars-rating-2::before {
  display: inline-block;
  background-image: url("../images/star-rating-blue.svg");
  background-repeat: space repeat;
  content: "";
  width: 45px;
  height: 17px;
  margin-bottom: 63px;
}

.stars-rating-3::before {
  display: inline-block;
  background-image: url("../images/star-rating-blue.svg");
  background-repeat: space repeat;
  content: "";
  width: 65px;
  height: 17px;
  margin-bottom: 63px;

}

.stars-rating-4::before {
  display: inline-block;
  background-image: url("../images/star-rating-blue.svg");
  background-repeat: space repeat;
  content: "";
  width: 88px;
  height: 17px;
  margin-bottom: 63px;

}

.card-rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.product-show-more {
  display: block;
  max-width: 652px;
  padding: 15px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.page-number-hotel {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 72px;
}

.page-number-hotel {
 margin-right: 51px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 13px;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.pagination-link:focus-visible {
  box-shadow:  0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item .pagination-current {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  text-align: center;
}
