@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/* Главная страница */

html {
  height: 100%;
}

.page_container {
  width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.page-header {
  background-color: #FFFFFF;
  color: #000000;
}

/* Навигация */

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  padding: 0;
  margin: 0;
}



.navigtion-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.navigation-item {
  list-style: none;
}

.navigtion-user-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-user-button {

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
}




.logo {
  display: block;
  margin: 0 auto;
}

.main-index {

  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;

}

.index-description {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.index-description-title{
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.index-description-info {
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  color: #333333;
  background-color: #FFFFFF;
}

/* Заинтересовались? */



.interested {
  text-align: center;
  background-color: #FFFFFF;
}

.intrested-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
}

.intrested-info {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}

.intrested-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 10px;
  text-decoration: none;
}

/* Подпишитесь на рассылку */

.subscribe {
  text-align: center;
  color: #FFFFFF;
  background-image: url("../images/background-interested.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-catalog {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-info {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: normal;
}

.subscribe-title-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-info-catalog {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}

/* Футер */

.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: #000000;
  outline: 3px solid rgba(255, 99, 78, 0.5);
  outline-offset: -3px;
}


.footer-social-item {
  list-style: none;
}

.footer-social-link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-tel {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-academy {
  width: 115px;
  margin-right: 72px;
}

/* Секция преимуществ */

.advantages {
  outline: 3px solid rgba(255, 99, 78, 0.5);
  outline-offset: -3px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.advantages-photo {
  display: block;
}

.advantages-item-image {
  width: 800px;
  min-height: 384px;
}

.advanteges-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advanteges-item-user {
  width: 400px;
  min-height: 384px;
}

.advantages-list-bg-blue {
  background-color: #83B3D3;
}

.advanteges-item-bg {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-list-user {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

.advantages-list-user li:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-user .advantages-description {
  color: #333333;
}

.advantages-light-bg-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-lighter-bg-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Страница каталога */

.catalog-container-bg {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.search-hotels {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  color: #000000;
  background-color: #FFFFFF;
}

.product-card-button-brown {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-button-blue {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-button-green {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-rating {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  background-color: #F2F2F2;
}

.product-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.page-number-hotel {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}
